header {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  color: var(--color-main);

  h1,
  h3 {
    margin: 0;
  }
}

.language-select {
  width: 120px;
  font-size: 14px;
  border-radius: 6px;
  padding: 4px;
  border: 1px solid var(--color-grey-light);
  outline: none;
}

.page-content {
  margin-top: 50px;
}
